.profileBody header {
    text-align: center;
    background: url('https://images.unsplash.com/photo-1560496110-85043a260f8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
  }
  .profileBody header {
    line-height: 1.5;
  }
  .profileBody header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  }
  .profileBody header .profile-image:hover {
    transform: scale(1.2) rotate(5deg);
  }
  .profileBody .tag {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
    z-index: 2;
  } 
  .profileBody .location {
    background-color: #222;
    color: yellow;
  }
  .profileBody .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
  }
  .profileBody .card:hover {
    border-color: #ff99ff;
  }
  
  .profileBody ul.skills {
    padding: 0;
    text-align: center;
  }
  
  .profileBody .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }
  
  .profileBody .skills li:nth-child(odd) {
    background: #0399ff;
  }
/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
    .profileBody .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex; 
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }
  
    .profileBody header {
      min-height: 470px;
    }
  
    .profileBody .nav {
      max-width: 1200px;
      padding: 0 30px;
    }
  
  
    .profileBody  main {
      padding-top: 20px;
    }
  
    .profileBody main p {
      line-height: 1.6em;
    }
  
    .profileBody  footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  
  }
    