$color_blue: #0000FF;
$color_lightb: #87BCBF;
$color_grey: rgb(247, 247, 247);
$color_orange: #D97D54;
$color_white: #FFFFFF;

$font-family-heebo: 'Heebo', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-sourcecodepro: 'Source Code Pro', monospace;

$font-family-europa: europa, sans-serif;
$euroBold: 700;
$euroLight: 300;
$euroReg: 400;










$shadow: 0px 10px 10px rgba(0,0,0,0.10);